.home-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
    .left-container {
        background-color: #1E1E1E;
        display: flex;
        justify-content: center;
        align-items: center;
        .items-container {
            color: white;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            
            img {
                width: 120px;
            }
            h2{
                color: rgb(218, 211, 211);
            }
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 85%;
                height: 50px;
                cursor: pointer;
                border-radius: 20px;
                border: none;
                transition: 1s;
                font-size: 20px;
            }

            button:hover {
                box-shadow: 2px 2px 6px gray;
            }
        }
    }
}